.editor-buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5%;
}

.editor-buttons button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: solid black 1px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
}
.editor-buttons button:hover {
    background-color: #000000;
    color: #ffffff;
}